@{
    var UserGroups = (List<AccountGroup>)ViewBag.UserGroups;
}
}
@model AccountDTO

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="card">
                        <div class="card-header">Thêm mới người dùng</div>
                        <div class="card-body">
                            <form method="post" asp-action="Create">
                                <div asp-validation-summary="All" class="text-danger validationsummary"></div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Username" class="control-label mb-1">Tên tài khoản</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="username" asp-for="Username" class="form-control">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Name" class="control-label mb-1">Tên người dùng</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="name" asp-for="Name" class="form-control">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Password" class="control-label mb-1">Mật khẩu</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="password" asp-for="Password" class="form-control" type="password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Email" class="control-label mb-1">Email</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="username" asp-for="Email" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Phone" class="control-label mb-1">Số điện thoại</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="username" asp-for="Phone" class="form-control">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="GroupId" class=" form-control-label">Loại tài khoản</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="GroupId" id="groupId" class="form-control">
                                            @foreach (var group in UserGroups)
                                            {
                                                <option value="@group.Id">@group.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="IsActive" class=" form-control-label">Kích hoạt</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label asp-for="IsActive" class="form-check-label ">
                                                <input type="checkbox" id="isActive"
                                                       asp-for="IsActive" checked class="form-check-input">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="save-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                <i class="fa fa-save fa-lg"></i>&nbsp;
                                                <span id="button-save">Lưu</span>
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="@Url.Action("Index", "User")" class="btn btn-lg btn-info btn-block">
                                                <button id="cancel-button" type="button">
                                                    <i class="fa fa-close fa-lg"></i>&nbsp;
                                                    <span id="button-save">Trở về</span>
                                                </button>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
